on:
    push:
      branches:
        - main
        - 1.x
name: release-please
jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
        - uses: googleapis/release-please-action@v4
          with:
            release-type: go
            target-branch: ${{ github.ref_name }}
            token: ${{ secrets.GITHUB_TOKEN }}
            version-file: version/version.go