on:
    push:
        branches:
            - main
name: release-please

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - uses: googleapis/release-please-action@v4
              with:
                  config-file: release-please-config.json
                  manifest-file: .release-please-manifest.json
                  target-branch: ${{ github.ref_name }}
                  token: ${{ secrets.GITHUB_TOKEN }}
